<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>社員情報</title>

  <link rel="stylesheet" href="../css/normalize.css" />
  
  <link rel="stylesheet" href="../css/foundation.css" />

  <script src="../js/vendor/custom.modernizr.js"></script>
  <script type="text/javascript">
     function clear() { 
	    document.getElementsByName('sei').value = "" ; 
	 }
  
  </script>

</head>
<body>
<!--% # encoding : utf-8 %-->
<% # -*- encoding: utf-8 -*- %>
<% require 'cgi' %>
<% require 'cgi/session' %>
<% $name = "テスト" %>
<% cgi = CGI.new %>
<% $mei = cgi['mei'] %>
<% $sei = cgi['sei'] %>
<% $name = cgi['name'] %>
<% $result = cgi['result'] %>
<% $email = cgi['email'] %>
<% $domain = cgi['domain'] %>
<% $passwd = cgi['passwd'] %>
<% $shain = cgi['shain'] %>
<% $f_name = cgi['f_name'] %> 
<% $remark = cgi['remark'] %> 
<% $vFrom  = cgi['validFrom'] %> 
<% $vUntil = cgi['validUntil'] %> 

<% $force = cgi['force'] %>
  <div class="row">
    <div class="twelve columns">
      <h2>メールアカウント</h2>
      <hr />
      <p><%= $result %></p> 
      <hr />
    </div>
    <div class="row"?>
      <div class=twelve columns">
      </div>
    </div>  
  </div>  
  <form id="shain" method="get" action="mchk.cgi">
  <!-- form id="shain" method="get" action="ldiflist.cgi" -->
    <fieldset>
      <legend>LdapServer</legend>
      <div class="row">
        <div class="small-2 large-4 columns">
          <label>姓</label>
          <input type="text" name="sei" value="<%= $sei %>" />           
        </div>
        <div class="small-2 large-4 columns">
          <label>名</label>
          <input type="text" name="mei" value="<%= $mei %>" /> 
        </div>
      </div> 
      <div class="row">
        <div class="large-4 columns">
          <label>せい</label>
          <input type="text" value="<%= $f_name %>" name="f_name" placeholder="やまだ" />
        </div>
        <div class="large-4 columns">
          <label>めい</label>
          <input type="text" name="name" value="<%= $name %>" /> 
        </div>
        <input type=submit name="check1" value= "check1" >
      </div>
      <div class="row">
      <label>email:</label>
        <input type="text" name="email" value="<%= $email %>"/>
      <div class="large-4 columns">
        <div class="row">
          <label for="shain;">メールドメイン：</label>
        I <select id="domain" name="domain" value="<%=$domain %>" >
            <option value="ray.co.jp">ray.co.jp</option>
            <option value="ss.ray.co.jp">ss.ray.co.jp</option>
            <option value="plays.co.jp">plays.co.jp</option>
            <option value="digisite.co.jp">digisite.co.jp</option>
            <option value="wes.co.jp">wes.co.jp</option>
            <option value="tc-max.co.jp">tc-max.co.jp</option>
            <option value="other">その他</option>
          </select>
          <label>社員番号</label>
          <input type="text" name="shain" value="<%= $shain %>" />
          <label>パスワード:</label>
          <input type="text" name="passwd"  class="three" value="<%=$passwd %>" /> 
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">開始
          <input type="date" name="validFrom" value="<%= $vFrom %>" />
        </div>
        <div class="large-4 columns">終了
          <input type="date" name="validUntil" value="<%= $vUntil %>" />
        </div>
        <div class="large-4 columns">備考
          <input type="text" name="remark" value="<%= $remark %>" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <input type="submit" name="check" value="check">
          <input type="submit" name="create" value="create"> 
          <input type="reset" name="reset" value="reset" onClick="">
          <input type="checkbox" name="force" id="checkbox"  "<=% if $force== 'on'  then 'checked'  else end %>" >
          強制作成
        </div>
      </div>
    </fieldset>
  </form>

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="../javascripts/modernizr.foundation.js"></script>
  
  <script src="../javascripts/jquery.js"></script>
  
  <script src="../javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="../javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="../javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="../javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="../javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="../javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="../javascripts/jquery.foundation.forms.js"></script>
  
  <script src="../javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="../javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="../javascripts/jquery.placeholder.js"></script>
  
  <script src="../javascripts/jquery.foundation.alerts.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="../javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="../javascripts/app.js"></script>
</body>
</html>
